.choosenCategory{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
}



.choosenCategory .choosenCategoryCnt{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
}

.choosenCategory .choosenCategoryCnt .choosenCat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 280px;
    height: 260px;
    padding: 5px;
    margin: 10px 10px 25px;

}

.choosenCategoryCnt .choosenCat h2{
    font-size: 1.3rem;
    padding: 0.6rem 0 0.3rem;
}

.choosenCategoryCnt .choosenCat img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}