.recipeDataCnt{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    padding-top: 60px; 
    overflow: hidden;

}

.recipeDataCnt .data{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.recipeDataCnt .data .leftRight{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 20px;  
    /* padding: 0 30px; */
}

.recipeDataCnt .data h1{
    margin-bottom: 20px;
}
 
.recipeDataCnt .IdBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.IdBox .catBtn{
    padding: 0.5rem 1rem;
    border-radius: 3px;
    background-color: var(--primary);
    font-weight: 600;
    cursor: pointer;
}

.IdBox .catBtn:hover{
    color: wheat;
    opacity: 0.9;
}

.leftRight .left .recipeImg{
   width: 32vw;
   /* width: 100%; */
    /* height: 400px; */
    margin: 10px 0;
}

.leftRight .left .recipeImg img{
    width: 100%;
    height: 100%;
    
}

.leftRight .right{ 
    display: flex;
    margin-left: 40px;
    width: 60vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px
}
  


.recipeDataCnt .right .ingredients{
    /* border-left: 1px solid; */
    /* width: 600px; */
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative; 
    margin-left: 35px; 
    border-left: 1px solid; 
}


.recipeDataCnt .right .ingredient{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    flex-wrap: wrap; 
    margin-bottom: 15px;
    padding: 3px;
    margin: 5px;
    width: 15%; 
}

.recipeDataCnt .right .ingredient:hover{
    cursor: pointer; 
    font-weight: 700;
}

.recipeDataCnt .right .ingredient:hover img{
    transform: scale(1.1);
}

.recipeDataCnt .right .ingredient p{
    font-size: 0.9rem;
    text-align: center;  
}

 

.recipeDataCnt .right .ingredient img{
    width: 100%;  
    transition: all 0.5s;
}

.instructionCnt {
    margin: 40px 0 75px;
    padding: 0 30PX;
    border-top: 1px solid; 
    border: none;
    position: relative;
    background-color: var(--primary); 
    width: 98vw;
}

/* .instructionCnt::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    z-index: -1;
} */

.instructionCnt h2{
    padding: 0.5rem 0 1rem;
    color: white;
    text-transform: uppercase;
}
.instructionCnt p{  
    margin-bottom: 8px;
    font-weight: 600; 
}