body{
    box-sizing: border-box;
}

.contactPage {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   padding: 5rem 1rem 1rem; 
   font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; 
}


.contactPage .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contactPage .wrapper h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 2rem;
}

.contactPage .wrapper p{
    font-size: 1.4rem;
    width: 65%;
    text-align: center;
    margin-bottom: 2rem;
}

.contactPage .divide{ 
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contactPage .divide .imageDiv{
    display: flex;
    /* width: 100%; */
}

.contactPage .divide .imageDiv img{
    width: 100%;
}

.contactPage .divide form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(243, 236, 236); 
    padding: 1.2rem ; 
    border-radius: 1.5rem;
}

.contactPage .divide form .nameDiv{
    display: flex;
    justify-content: space-between;
}

.contactPage .divide form .nameDiv input{
    width: 48%;
}

.contactPage .divide form input, .contactPage .divide form textarea{
    padding: 0.2rem;
    outline-offset: none;
    outline: none;
    margin-bottom: 1rem; 
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0);
    border: none;
    font-size: 1.1rem;
    width: 100%;
}

.contactPage .divide form input:hover, .contactPage .divide form textarea:hover{
    background-color: rgb(250, 250, 250);
}


.divide form button{
    padding: 0.6rem 1rem;
    font-size: 1.3rem;
    font-weight: 700; 
    background-color: var(--primary);
    border: 1px solid white; 
    color: white;
    border-radius: 0.3rem;
    cursor: pointer;
}

.divide form button:hover{
    background-color: white;
    color: #b90023; 
}



@media only screen and (max-width: 800px) {

    .contactPage {
        padding: 7rem 1.4rem 1rem;  
    }
    .contactPage .divide{ 
        flex-direction: column;
    }

}