 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }
  
.homeWrapper{
   display: flex; 
   flex-direction: column;
} 

 .home {
     display: flex; 
     position: relative;
     justify-content: center;
     align-items: center;
     padding: 10px;  
     height: 80vh; 
 }


 .homeImg { 
     width: 100%;
     height: 86%;
     position: absolute;
     top: 57px; 
     z-index: -2;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat; 
     display: flex;
     align-items: center;
     justify-content: center;
 }


 .homeImg::after {
     content: "";
     position: absolute;
     top: 0;
     right: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.697);
     z-index: 1;
 }


 .home .typeWriter { 
     padding: 10px;
     margin-top: 4%;
     font-size: 2.9rem;
     color: white;
     position: absolute;
     top: 2rem; 
     font-weight: 700;
     text-transform: uppercase;
     z-index: 5;
 }
 

 .home .mainPageList{ 
    position: absolute;
    bottom: 20px;
     left: center;
     width: 334px;
     height: 240px;
     overflow: hidden; 
     z-index: 100;
     background: transparent;
 }


 .home .mainPageList .allcategory {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     flex-wrap: wrap; 
     height: 17rem;   
     width: 100%;
     position: relative;
     left: 0; 
     bottom: 0;
     animation: slidebar 41s 3s infinite;
     padding-top: 0; 
     cursor: pointer;
     background: transparent;
 }

 /* ------------------------------------Animation------------------------------ */
 @keyframes slidebar{
   0%, 100%{
    left: 0;
   }5%, 10%{
    left: -334px;
   }15%, 20%{
    left: -668px;
   }25%, 30%{
    left: -1002px;
   }35%, 40%{
    left: -1336px;
   }45%, 50%{
    left: -1670px;
   }55%, 60%{
    left: -2004px;
   }65%, 70%{
    left: -2338px;
   }75%, 80%{
    left: -2672px;
   }85%, 90%{
    left: -3006px;
   }95%, 100%{
    left: -3340px;
   }
 }

 .home .mainPageList .allcategory .reciepeCnt{
    background-color: #618264; 
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    animation: none;  
 } 

 .home .mainPageList .allcategory .reciepeCnt:hover{
    background-color: #82b186;
    color: white;
    z-index: 5;
 }


 .home .mainPageList .allcategory .reciepeCnt::after{
    opacity: 0;
 }

 
 .home .mainPageList .allcategory .reciepeCnt img{
    border-radius: 7px;  
 }

 .home .mainPageList .allcategory .reciepeCnt h2{ 
   font-weight: 500;
 }


/* -----------------------------------------SCOND SECTION--------------------------------- */
 .homeWrapper .secondSection{
   display: flex;
   justify-content: center;
   align-items: center; 
   height: 500px;
   margin: 15px 0;
   background-color: var(--primary);
   opacity: 0.8;
   /* box-shadow: inset 5px 5px 100px; */
}

.seocndSectionImg{
   background-position: center;
   background-repeat: no-repeat;
   background-size:contain; 
   width: 100%;
   height: 100%;  
   position: relative;
 }

 .seocndSectionImg::before{
   content: "";
   width: 10px;
   height: 100%;
   position: absolute;
   background-color: white;
   bottom: 0;
   left: 0; 
  }

 .seocndSectionImg::after{
  content: "";
  width: 100%;
  height: 45px;
  position: absolute;
  background-color: white;
  bottom: 0;
  left: 0; 
 }


 @keyframes slidebar2{
   0%, 100%{
    left: 0;
   }10%, 15%{
    left: -334px;
   }30%, 35%{
    left: -668px;
   }50%, 55%{
    left: -1002px;
   }70%, 75%{
    left: -1336px;
   }90%, 100%{
    left: -1670px;
   } 
 }



/*---------------------------RESPONISIVENESS----------------------- */
@media screen and (max-width: 800px){
.homeWrapper .secondSection{
   height: 400px;
}
.home .typeWriter {  
   font-size: 2.2rem;
   top: 5rem;
}
.home .mainPageList{
   bottom: -1rem;
}

.home .mainPageList .allcategory { 
   animation: slidebar2 21s 3s infinite;
}
}


@media screen and (max-width: 550px){
 .home .typeWriter { 
   top: 7rem;
   font-size: 2rem;   
   padding-left: 60px; 
}

   .homeWrapper .secondSection{
      height: 300px;
   }
}