 .header {
    /* background-color: #702181;  */
    background-color: #009b4d;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-direction: row;
    padding: 0.5rem;
    color: white;
    font: 1.1rem sans-serif;
    font-family: Arial, Helvetica, sans-serif;
}
 

.header .headerUl{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: row;
}


.headerUl li{
    list-style-type: none;
    margin-right: 10px;
}
.headerUl li a{
    text-decoration: none;
    color:white;
    padding: 0 0.5rem;
}